<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fq LEADERS Home Page</title>
</head>
<body>
    
    <h2>fq LEADERS Home Page</h2>
    <hr>

    <p>
    See you in Brazil .. for our annual Leadership retreat!
    <br>
    Keep this trip a scret, don't tell the regular employees.....!
    </p>

    <hr>
    <a th:href="@{/}"> Back to Home Page</a>
</body>
</html>