<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fq SYSTEMS Home Page</title>
</head>
<body>
    
    <h2>fq SYSTEMS Home Page</h2>
    <hr>

    <p>
    wE HAVE ANNUAL HOLIDAY CARIBBEAN CRUISE COMING UP. REGISTER NOW!
    <br>
    Keep this trip a scret, don't tell the regular employees and managers.....!
    </p>

    <hr>
    <a th:href="@{/}"> Back to Home Page</a>
</body>
</html>